In [1]:
import pandas as pd
import numpy as np
from datetime import datetime 
import seaborn as sn
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv(r"C:\Users\Luchiana\OneDrive - ONE NEW EXPERIENCE\Desktop\Audible_dataset.csv")
df.head(5)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04/08/2008,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01/05/2018,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06/11/2020,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05/10/2021,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820

In [3]:
df.duplicated().sum()

0

In [4]:
df.isna().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

In [23]:
df['releasedate']=pd.to_datetime(df['releasedate'])
df.head(10)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820
5,The Hunger Games: Special Edition,Writtenby:SuzanneCollins,Narratedby:TatianaMaslany,10 hrs and 35 mins,2018-10-30,English,5 out of 5 stars72 ratings,656
6,Quest for the Diamond Sword,Writtenby:WinterMorgan,Narratedby:LukeDaniels,2 hrs and 23 mins,2014-11-25,English,5 out of 5 stars11 ratings,233
7,The Dark Prophecy,Writtenby:RickRiordan,Narratedby:RobbieDaymond,12 hrs and 32 mins,2017-02-05,English,5 out of 5 stars50 ratings,820
8,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,10 hrs and 56 mins,2017-02-05,English,5 out of 5 stars5 ratings,"1,256.00"
9,The Tyrant’s Tomb,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 22 mins,2019-09-24,English,5 out of 5 stars58 ratings,820

In [24]:
def replace_value(value):
    if 'Writtenby:' in value:
        return value.replace('Writtenby:','')
    elif 'Narratedby:' in value:
        return value.replace('Narratedby:', '')
    else:
        return value
    
df['author']= df['author'].apply(replace_value)

In [25]:
df['narrator']=df['narrator'].apply(replace_value)
df.head(5)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820

In [26]:
def insert_space_before_upper(s):
    result=''
    
    for i in s:
        if i.isupper():
            result = result + " " + i
        else:
            result = result + i
    return result


df['author'] = df['author'].apply(insert_space_before_upper)
df['narrator']=df['narrator'].apply(insert_space_before_upper)

In [27]:
df.head(5)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820

In [28]:
df['language']=df['language'].str.capitalize()

In [29]:
#df[df['language']!='English']

df['rating'] = df['stars'].str.extract(r'(\d+ ratings)')
#df['stars'] = df['stars'].str.extract(r'(\d out of \d stars)')
df['stars'] =df['stars'].str.extract(r'(\d+)')

In [30]:
df.head() 
    #name = A Bear Called Paddington

,name,author,narrator,time,releasedate,language,stars,price,rating
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5,468,34 ratings
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4,820,41 ratings
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4,410,38 ratings
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4,615,12 ratings
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,4,820,181 ratings

In [34]:
df[df.name =='A Bear Called Paddington']

,name,author,narrator,time,releasedate,language,stars,price,rating
50,A Bear Called Paddington,Michael Bond,Stephen Fry,2 hrs and 39 mins,2008-06-24,English,0,266,0

In [33]:
df['stars'] = df['stars'].fillna(0)
df['rating'] = df['rating'].fillna(0)

In [86]:
df['Stars'] = df['Stars'].astype('int')
df['Rating'] = df['Rating'].astype('int')

In [87]:
df.head()

,ID,Title,Author,Narrator,Release_Date,Duration,Duration_minutes,Language,Stars,Rating,Price
0,1,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-04-08,2 hrs and 20 mins,140,English,5,34,468
1,2,The Burning Maze,Rick Riordan,Robbie Daymond,2018-01-05,13 hrs and 8 mins,788,English,4,41,820
2,3,The Deep End,Jeff Kinney,Dan Russell,2020-06-11,2 hrs and 3 mins,123,English,4,38,410
3,4,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-05-10,11 hrs and 16 mins,676,English,4,12,615
4,5,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,10 hrs,600,English,4,181,820

In [39]:
df['rating']=df['rating'].str.extract(r'(\d+)')

In [40]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,rating
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5,468,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4,820,41
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4,410,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4,615,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,4,820,181

In [63]:
#df['time'].str.extract('r(\d hrs)')

hours = df['time'].str.extract(r'(\d+)').astype('int')
mins= df['time'].str.extract(r'(\d+ mins)').replace('mins','', regex=True)
mins = mins.fillna(0).astype('int')

duration = (hours*60) + mins
df['duration_minutes'] = duration

In [64]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,rating,duration_minutes
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5,468,34,140
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4,820,41,788
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4,410,38,123
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4,615,12,676
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,4,820,181,600

In [79]:
df = df.rename(columns={"name":"Title","author":"Author","narrator":"Narrator","time":"Duration","releasedate":"Release_Date","language":"Language","stars":"Stars","rating":"Rating","duration_minutes":"Duration_minutes","price":"Price"})

In [70]:
df['id'] = range(1, len(df) + 1)

In [74]:
df= df.rename(columns={"id":"ID"})

In [80]:
df.tail(10)
#df['Rating'].isna()
#df['Rating']=df['Rating'].fillna(0)

,Title,Author,Narrator,Duration,Release_Date,Language,Stars,Price,Rating,Duration_minutes,ID
87479,Dear Bob and Sue,"Matt Smith, Karen Smith","David Colacci, Susan Ericksen",14 hrs and 48 mins,2017-12-26,English,0,"1,055.00",0,888,87480
87480,Journey into Cyprus,Colin Thubron,Jonathan Keeble,11 hrs and 51 mins,2018-01-01,English,0,785,0,711,87481
87481,The Hills of Adonis,Colin Thubron,Jonathan Keeble,6 hrs and 52 mins,2017-01-12,English,0,679,0,412,87482
87482,The Bush,"Don Watson, Hamish Hamilton",Don Watson,13 hrs and 16 mins,2017-10-13,English,0,"1,328.00",0,796,87483
87483,We Stood upon Stars,Roger W. Thompson,John Mc Lain,5 hrs and 55 mins,2017-02-05,English,0,351,0,355,87484
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,2017-09-03,English,0,596,0,454,87485
87485,The Alps,Stephen O' Shea,Robert Fass,10 hrs and 7 mins,2017-02-21,English,0,820,0,607,87486
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,2016-12-30,English,0,938,0,1144,87487
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,2011-02-23,English,0,680,0,248,87488
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,2017-07-03,English,0,569,0,360,87489

In [82]:
df = df[['ID', 'Title', 'Author','Narrator','Release_Date','Duration','Duration_minutes','Language','Stars','Rating','Price']]

,ID,Title,Author,Narrator,Release_Date,Duration,Duration_minutes,Language,Stars,Rating,Price
0,1,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-04-08,2 hrs and 20 mins,140,English,5,34,468
1,2,The Burning Maze,Rick Riordan,Robbie Daymond,2018-01-05,13 hrs and 8 mins,788,English,4,41,820
2,3,The Deep End,Jeff Kinney,Dan Russell,2020-06-11,2 hrs and 3 mins,123,English,4,38,410
3,4,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-05-10,11 hrs and 16 mins,676,English,4,12,615
4,5,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,10 hrs,600,English,4,181,820